.container {
    width          : 100vw;
    height         : 100vh;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

svg {
    overflow: visible;
}

.part {
    -webkit-transform-origin: center center;
    transform-origin        : center center;
    will-change             : transform;
    stroke-width            : 3;
}

.ease-in {
    transition-timing-function: ease-in;
}

.ease-out {
    transition-timing-function: ease-out;
}

.whiteLeft, .whiteRight {
    fill  : white;
    stroke: white;
}

.blackLeft, .blackRight {
    fill  : black;
    stroke: black;
}
