.container {
    width          : 100vw;
    height         : 100vh;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

svg {
    overflow: visible;
}

.part {
    -webkit-transform-origin: center center;
    transform-origin        : center center;
    will-change             : transform;
    stroke-width            : 1;
}

.ease-in {
    transition-timing-function: ease-in;
}

.ease-out {
    transition-timing-function: ease-out;
}

.whiteLeft, .whiteRight {
    fill     : rgba(8, 168, 42, .8);
    stroke   : rgba(8, 168, 42, .3);
    transform: none !important;
}

.blackLeft, .blackRight {
    fill  : rgba(143, 211, 249, 0.92);
    stroke: rgba(143, 211, 249, 0.41);
}

.hint {
    position   : absolute;
    bottom     : 1vmin;
    left       : 5vmin;
    color      : rgba(255,255,255,0.1);
    font-size  : 10vmin;
    margin     : 0;
    user-select: none;
}
